body {
  background-color: #FFFFFF;
  color: #123456;
  font-size: 16px
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

h1{
  font-family: 'Source Sans Pro', Helvetica, Arial, Sans-serif;
  font-size: 4em;
  color: Black;
  margin-bottom: 20px;
  text-align: Center;
  padding-top: 30px;
}

h3{
  font-family: 'Source Sans Pro', Helvetica, Arial, Sans-serif;
  font-size: 2em;
  font-style: bold;
  color: Black;
  margin-bottom: 30px;
}

p{
  font-size: 100%;
  line-height: 1.5;
  color: Black;
  text-align: left;
  margin-bottom: 20px;
  font-family: 'Source Sans Pro', Helvetica, Arial, Sans-serif;
}

.author{
  color: grey;

}
article {
  padding-top: 120px;
}

.figure{
  text-align: left;
  width; 75%;
}

figcaption{
  font-size: 1em;
  color: grey;
  font-family: 'Source Sans Pro', Helvetica, Arial, Sans-serif;
  font-style: italic;
  margin-bottom: 25px;
}

.logo {
  margin: 40px;
  width: 90px;
  text-align: left;
}

.left, .right {
  float: left;
  width: 50%;
}

li {
  float: right;
  padding: 50px;
}

.container {
  margin:35px;
  width: 65%;
}
