body {
  background-color: #FFFFF1;
  color: #123456;
  font-size: 16px
  text-align: center;
}

nav {
  background-color: rgba(0,0,0,.8);
  float: left;
  position: fixed;
  width: 100%;
}

h1{
  font-family: 'Source Sans Pro', Helvetica, Arial, Sans-serif;
  font-size: 4em;
  color: 11111;
  margin-bottom: 3%;
  text-align: Center;
  padding-top: 5%;
}

h3{
  font-family: 'Source Sans Pro', Helvetica, Arial, Sans-serif;
  font-size: 2em;
  font-style: bold;
  line-height: 1.6;
  color: 11111;
  margin-bottom: 3%;
}

a{color: Red;}

a:hover{
  color: white;
}

p{
  font-size: 22px;
  line-height: 2;
  color: 11111;
  margin-bottom: 5%;
  font-family: 'Source Sans Pro', Helvetica, Arial, Sans-serif;
}

.author{
  color: grey;
}

.figure{
  text-align: left;
  width; 75%;
}

figcaption{
  font-size: 1em;
  color: grey;
  font-family: 'Source Sans Pro', Helvetica, Arial, Sans-serif;
  font-style: italic;
  margin-bottom: 10%;
}

.logo {
  margin: 10%;
  width: 25%;
  text-align: left;
}

.left, .right {
  float: left;
  width: 50%;
}

li {
  float: right;
  padding: 8%;
}

.container {
  margin:10px;
  width: 75%;
  padding: 12%;
  vertical-align: center;
  text-align: left;
}
